In [1]:
import s3fs
import pandas as pd

# Inicializando o sistema de arquivos MinIO
fs = s3fs.S3FileSystem(
    key='ROOT',  # Seu MINIO_ROOT_USER
    secret='PASSWORD',  # Sua MINIO_ROOT_PASSWORD
    client_kwargs={'endpoint_url': 'http://localhost:9000'}
)

# Caminho do arquivo Parquet na camada OURO
ouro_filename = 'dados-mercado/OURO/vendas_summary.parquet'

# Verificando se o arquivo Parquet existe na camada OURO
if fs.exists(ouro_filename):
    # Lendo o arquivo Parquet em um DataFrame
    with fs.open(ouro_filename, 'rb') as f:
        df = pd.read_parquet(f)
        
    # Exibindo a tabela
    print("Tabela de vendas acumuladas:")
    print(df)
else:
    print("Nenhum arquivo Parquet encontrado na camada OURO.")

df

Tabela de vendas acumuladas:
             timestamp  vendas_totais item_mais_comprado  \
0  2024-07-12 12:42:29         169.04         amet iusto
1  2024-07-12 13:14:01        1309.26        atque harum
2  2024-07-12 13:30:39        1508.58        atque harum
3  2024-07-12 15:18:02        1806.20        atque harum
4  2024-07-12 15:44:53        1806.20        atque harum

   cliente_mais_compras_id  cliente_mais_compras_nome  cliente_gastos_id  \
0                   7139.0         Miguel Casa Grande             7139.0
1                   5747.0            Rodrigo Fonseca             5747.0
2                   3762.0          Gabriela Ferreira             7626.0
3                   2158.0  Srta. Cecilia Vasconcelos             2158.0
4                   9999.0           não identificado             9999.0

         cliente_gastos_nome  cliente_gastos_valor
0         Miguel Casa Grande                 38.30
1            Rodrigo Fonseca                 52.96
2         Catarina Fernandes                 55.82
3  Srta. Cecilia Vasconcelos                 84.24
4           não identificado               1010.89

,timestamp,vendas_totais,item_mais_comprado,cliente_mais_compras_id,cliente_mais_compras_nome,cliente_gastos_id,cliente_gastos_nome,cliente_gastos_valor
0,2024-07-12 12:42:29,169.04,amet iusto,7139.0,Miguel Casa Grande,7139.0,Miguel Casa Grande,38.30
1,2024-07-12 13:14:01,1309.26,atque harum,5747.0,Rodrigo Fonseca,5747.0,Rodrigo Fonseca,52.96
2,2024-07-12 13:30:39,1508.58,atque harum,3762.0,Gabriela Ferreira,7626.0,Catarina Fernandes,55.82
3,2024-07-12 15:18:02,1806.20,atque harum,2158.0,Srta. Cecilia Vasconcelos,2158.0,Srta. Cecilia Vasconcelos,84.24
4,2024-07-12 15:44:53,1806.20,atque harum,9999.0,não identificado,9999.0,não identificado,1010.89